<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Ads Server</display-name>
  <welcome-file-list>
    <welcome-file>option.jsp</welcome-file>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>signup.jsp</welcome-file>
    <welcome-file>Admin.jsp</welcome-file>
    <welcome-file>CreateAd.jsp</welcome-file>
    <welcome-file>DeleteAd.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>getmodel</servlet-name>
    <servlet-class>com.car.DatabaseController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getmodel</servlet-name>
    <url-pattern>/getmodel</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getLogin</servlet-name>
    <servlet-class>com.car.loginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getLogin</servlet-name>
    <url-pattern>/getLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getsignUp</servlet-name>
    <servlet-class>com.car.signUpController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getsignUp</servlet-name>
    <url-pattern>/getsignUp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateAdsController</display-name>
    <servlet-name>CreateAdsController</servlet-name>
    <servlet-class>com.car.CreateAdsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateAdsController</servlet-name>
    <url-pattern>/CreateAdsController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteAdsController</display-name>
    <servlet-name>DeleteAdsController</servlet-name>
    <servlet-class>com.car.DeleteAdsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteAdsController</servlet-name>
    <url-pattern>/DeleteAdsController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminController</display-name>
    <servlet-name>AdminController</servlet-name>
    <servlet-class>com.car.AdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminController</servlet-name>
    <url-pattern>/AdminController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SystemController</display-name>
    <servlet-name>SystemController</servlet-name>
    <servlet-class>com.car.SystemController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SystemController</servlet-name>
    <url-pattern>/SystemController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ImpressionController</display-name>
    <servlet-name>ImpressionController</servlet-name>
    <servlet-class>com.car.ImpressionController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImpressionController</servlet-name>
    <url-pattern>/ImpressionController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Test</display-name>
    <servlet-name>Test</servlet-name>
    <servlet-class>com.car.Test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test</servlet-name>
    <url-pattern>/Test</url-pattern>
  </servlet-mapping>
</web-app>